	<div class="index">
		<br>
		<p>Here you can change Openpanel's settings</p>
		<li class="Theme dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" Style="color: #000">
          Themes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Light</a>
          <a class="dropdown-item" href="#">Dark</a>
          <a class="dropdown-item" href="#">Neon</a>
        </div>
      </li>
	</div>
