	<div class="index">
		<br>
		<p>Here you can change Openpanel's settings</p>
    <br>
    <form>
    <label>Theme: </label>
    <select class="settings_input" name="Theme">
        <option value="/css/light.css" selected="N/A">Light</option>
        <option value="/css/dark.css">Dark</option>
        <option value="/css/neon.css">Neon</option>
        <option value="custom">Custom</option>
      </select>
    </form>
    <br>
	</div>