<!DOCTYPE html>
<html>
<body class="login">
    <div class="form">
        <table border="1" width="100%" class="results">
                        <th><%= authed %></th>
     <tr>
     <td>

        <form action="/login" method="post">
        <label>Username:</label>
        <input type="text" name="username"/>
        <br>
        <label>Password:</label>
        <input type="password" name="password"/>
        <br>
        <input type="submit" value="Log In"/>
        </form>
     </td>
   </tr>
</table>

</div>
</body