    <div style="text-align: center">
        <br>
        <h3>Register new user</h3>
        <form action="/register" method="post">
        <label>Username:</label>
        <br>
        <br>
        <input type="text" name="newusername"/>
        <br>
        <br>
        <label>Email:</label>
        <br>
        <br>
        <input type="email" name="newemail"/>
        <br>
        <br>
        <label>Password :</label>
        <br>
        <br>
        <input type="password" name="newpassword"/>
        <br>
        <br>
        <input type="submit" value="Register"/>
        <br>
        <br>
</div>