	<div class="index">
		<br>
		<H2>Welcome</H2>
		<p> Thank you for choosing to use OpenPanel for your game servers.
		</p>
		<br>
		<H3> What is Open Panel</H3>
		<p> Open Panel is a completely open source and free to use game server panel. 
		<br> It was designed with the intention to provide the best experience for server owners. 
		<br> Please note this is not intended to be used by a server hosting service to rent out servers.
		</p>
		<br>
	</div>