<div class="row">
<div class="data_left">
	<h6>
		<a name="Create Servers" href="/server/new_server" >Glance</a>
  		<a name="Console" href="/server/console">Console</a>
   		<a name="Create Servers" href="/server/new_server" >Config Files</a>
		<a name="File System" href="/server/permissions">File System</a>
		<a name="Permissions" href="/server/backups">Permissions</a>
		<a name="Automated Tasks" href="/server/backups">Automated Tasks</a>
		<a name="backups" href="/server/backups">Backups</a>
	</h6>
</div>
<div class="data_right">
</div>
</div>
